[submodule "Overlook/vendor/spdlog"]
	path = Overlook/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Overlook/vendor/GLFW"]
	path = Overlook/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Overlook/vendor/imgui"]
	path = Overlook/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Overlook/vendor/glm"]
	path = Overlook/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Overlook/vendor/ImGuizmo"]
	path = Overlook/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "Overlook/vendor/magic_enum"]
	path = Overlook/vendor/magic_enum
	url = https://github.com/Neargye/magic_enum
