#Directories
.vs/
.idea/

# Binaries
**/bin/
bin-int/
Intermediates/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

#Flies
.user


# Directories
Overlook/vendor/VulkanSDK
OverlookInput/assets/cache
scripts/__pycache__